* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 10px 0;
}
.btns {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}
.add-btn,
#delete-product-btn {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 13px;
  border: 1px solid black;
  padding: 5px 10px;
  box-shadow: 1px 3px 2px black;
  background-color: white;
}

.display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.7rem;
  margin: 30px 0;
  padding: 50px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.display-group {
  width: 200px;
  height: 150px;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}
.checkbox {
  width: 100%;
  display: flex;
}
footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
